
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .header a img {
    height: 50px; 
  }
  
  
  .header a:nth-child(2) {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
  }
  
  
  #search {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button{
    padding: 8px 12px;
    margin-left: 5px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .searchbtn:hover {
    background-color: #0056b3;
  }
 

  button:hover {
    background-color: #0056b3;
  }
  
  